<div class="ember-calendar-head">
  <div class="ember-calendar-head-controls">
    <div class="ember-calendar-head-controls-movement">
      <button class="ember-calendar-head-previous" {{action "previous"}}>&laquo;</button>
      <button class="ember-calendar-head-today" {{action "today"}}>Today</button>
      <button class="ember-calendar-head-next" {{action "next"}}>&raquo;</button>
    </div>
    <div class="ember-calendar-head-controls-interval">
      <button {{bind-attr class=":ember-calendar-head-day isDayActive:active"}} {{action "viewDay"}}>Day</button>
      <button {{bind-attr class=":ember-calendar-head-week isWeekActive:active"}} {{action "viewWeek"}}>Week</button>
    </div>
  </div>
  <div class="ember-calendar-head-dates">
    {{#each date in dates}}
      {{calendar-head-date date=date isDayActive=isDayActive}}
    {{/each}}
  </div>
</div>
<div class="ember-calendar-container">
  <div class="ember-calendar-body">
    <div class="ember-calendar-head-times">
      {{#each hour in hours}}
        <div class="ember-calendar-head-time">
          <span class="name">{{format-date hour 'h a'}}</span>
        </div>
      {{/each}}
    </div>
    <div class="ember-calendar-days">
      {{#each day in schedule}}
        {{calendar-day events=day isDayActive=isDayActive}}
      {{/each}}
    </div>
  </div>
</div>
